<style>
    .btn-droppable { height: 30px; paddig-right: 5% }
</style>

<div class="ngdialog-message">
    <h2>Wstaw klipy audio</h2>
    <div ng-controller="audioMergingController">
        <div style="height: 50px">
            <div flash-message="2000"></div>
        </div>
        <div>
            <div>
                <div class="btn-info" style="border: solid; display: inline-block;" ng-style="{ 'width' : clipsDurationPercentage[{{$index}}]}" ng-repeat="item in videoClips">
                    {{item.name}}
                </div>
            </div>
        </div>
        <div class='contentWrapper ng-cloak'>
            <div class='content'>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li ng-repeat="video in videoClips" class="span3" ng-init="subSelectedAudioClips=selectedAudioClips[$index]" style='margin-left:10px;'>
                            {{video.name}}
                            <div class="thumbnail" data-drop="true" ng-model='subSelectedAudioClips' data-jqyoui-options="{}"  jqyoui-droppable="{multiple:true,beforeDrop:'beforeDrop', onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                                <div class="caption">
                                    <div class="btn-info btn-draggable" ng-repeat="audio in subSelectedAudioClips" ng-show="true" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="subSelectedAudioClips" jqyoui-draggable="{index: {{$index}},animate:true}">{{audio.name}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <div class="container form-inline" style="text-align: center;">
                <div class="btn-droppable" ng-repeat="audio in audioClipsCopy" data-drop="true" ng-model='audioClipsCopy' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=audioClipsCopy])'}"  jqyoui-droppable="{index: {{$index}}}">
                    <div class="btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="audioClipsCopy" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}">{{audio.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>